doctype html
html
    head
        title Sapphire Exampele App
        <!-- inject:head:js -->
        <!-- endinject -->
        <!-- inject:head:css -->
        <!-- endinject -->
    body
        | This is a body text
        = date