doctype html
html
    head
        title Sapphire Exampele App
        <!-- inject:head:js -->
        <!-- endinject -->
        <!-- inject:head:css -->
        <!-- endinject -->
    body
        ul
            li
                a(href="/") Flat content
            li
                a(href="/minified") Minified content
            li
                a(href="/minified/inline") Minified inline content
            li
                a(href="/minified/inline/cached") Minified inline cached content
        | This is a cache check!
        br
        | refresh the page to check it the whole view served from cache or not
        br
        br
        = date